<header class="py-6 text-center">
    <h1 class="title text-7xl md:text-8xl"><a href="/">Arashi no naka de</a></h1>
    <div class="inset-x-0 flex justify-center mt-6">
      <nav class="bg-white shadow-md rounded-xl px-8 py-3">
        <ul class="flex space-x-8 text-gray-800 text-lg font-medium">
          <li><a href="/" class="hover:text-blue-secondary transition">Inicio</a></li>
          <li><a href="#" class="hover:text-blue-secondary transition">Listado</a></li>
          <li><a href="#" class="hover:text-blue-secondary transition">Sobre mí</a></li>
        </ul>
      </nav>
    </div>

  </header>